/.github/
/.husky/
/.vscode/
/coverage/
/docs/
/node_modules/
/scripts/
/test/
/docs/
/temp/

/jest.config.ts
/rollup.config.mjs
/typedoc.config.js
/.commitlintrc.js
/.eslintrc.yml
/.gitbook.yaml
/.prettierrc.yml
/codecov.yml
/jest.config.js
/tslint.json

# Environmental secrets file -- should never be pushed to production!
.env

# Unnecessary template for .env file
.env.template

# Ensure potentially relevant documentation is included in the NPM tarball.
!FAQ.md
!CHANGELOG.md

# Keep /src included for compatibility with Bun <https://bun.sh/>.
# Bun can read TypeScript natively, so we point it at the raw TypeScript
# source files in /src instead of the ESM5 ones (this is done in <./package.json>)
!/src/

# ...also keep the tsconfig.json files in as Bun may need them.
!/scripts/tsconfig/