/.github/
/.husky/
/.vscode/
/coverage/
/docs/
/node_modules/
/scripts/
/test/
/docs/
/src/
/temp/
/tsconfig*.json

/jest.config.ts
/rollup.config.mjs
/typedoc.config.js
/.commitlintrc.js
/.eslintrc.yml
/.gitbook.yaml
/.prettierrc.yml
/codecov.yml
/jest.config.js
/tsconfig*.json
/tslint.json